
.gallery {
  width: 100%;

  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 20px;
}

.items {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media all and (max-width: 768px) {
  .gallery {
    //width: 85%;
  }

}

