
.itemWrapper {
  width: 15%;
  min-width: 200px;

  background: #efefef;

  margin: 10px 5px;

  display: flex;

  border-radius: 20px;

  padding: 20px;

  flex-direction: column;
  .imageBlock {
    flex: 1;
    min-width: 150px;
    border-radius: 20px;
    //margin: 10px;
  }
  .infoBlock {
    flex: 1 135px;
    border-radius: 20px 20px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .name, .date {
      flex-wrap: wrap;
      display: flex;

      justify-content: space-between;

      span {
        font-size: 20px;
        font-family: Jost,sans-serif;
      }
    }

  }

}

@media all and (max-width: 940px) {
  .itemWrapper {
    //width: 40%;
  }
}

@media all and (max-width: 636px) {
  .itemWrapper {
    width: 70%;
  }
}

@media all and (max-width:480px) {
  .itemWrapper {
    width: 80%;
  }
}

