
.mainWrapper {
  width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;

}
.imageWindowWrapper {

  align-self: center;
  justify-self: center;

  max-width: 90%;
  background: white;

  max-height: 75vh;
  overflow: auto;

  padding: 10px;
  margin: 10px;

  border-radius: 10px;

}