
.sizeBar {
  width: 100%;
  display: flex;

  border-radius: 10px;
  background: #e1e1e1;

  >div {
    margin: 10px;
    align-self: center;
  }

  button{
    background: white;

    &:hover{
      background: #cecdcd;
    }

  }
}

.sizeSelectorWrapper {
  width: 170px;
  display: flex;
  justify-content: space-between;
  align-self: center;

  background: white;
  padding: 5px;
  border-radius: 5px;

  select {
    background: #e1e1e1;
    width: 80px;
    padding: 5px;
    font-family: Jost, sans-serif;

    border-radius: 5px;
    border: none;
  }

  .setSize {
    width: 45%;

    button{
      width: 100%;
      padding: 10px 10px;

      background: #e1e1e1;

      &:hover{
        background: #cecdcd;
      }
    }
  }
}