
.imageWrapper{
  //width: 100%;
  //height: 100%;

  //width: 200px;
  height: 200px;
  border-radius: inherit;

  position: relative;


  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  .overlay {
    display: flex;

    opacity: 0;

    height: 100%;
    width: 100%;
    border-radius: 20px;

    position: absolute;
    top: 0;
    justify-content: center;


    background: rgba(124, 119, 119, 0.5);

    transition: ease 0.3s;

    .textWrapper {
      align-self: center;

      padding: 10px 20px;
      background: #cecdcd;
      border-radius: 20px;

      span {
        font-family: Jost, sans-serif;
      };
    }



  }

  &:hover {
    .overlay {
      opacity: 100%;
      display: flex;
      transition: ease 0.3s;
      cursor: pointer;
    }
  }
}
button{
  align-self: center;

  border: none;
  border-radius: 20px;

  background: #cecdcd;
  padding: 10px 20px;

  font-family: Jost, sans-serif;

  &:hover {
    cursor: pointer;
  }
}
